custom-header {
    .top-logo{
        text-align: center;

        img{
            width: 90px;
            margin-top: 4px;
            margin-left: -58px;
            margin-bottom: -5px;
        }
    }
}
